.root {
    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars;
     * default buttons.
     */
    -fx-accent: transparent;

    /* A bright blue for the focus indicator of objects. Typically used as the
     * first color in -fx-background-color for the "focused" pseudo-class. Also
     * typically used with insets of -1.4 to provide a glowing effect.
     *
     * TODO: should this be derived from -fx-accent?
     */
    -fx-focus-color: transparent;

    master-color: grey;
    -fx-background-color: derive(master-color, 70%);
    -fx-font-size: 14px;
}

/*.root:row-selection {
    -fx-accent: green;
    -fx-focus-color: green;
}*/

/* Menu Bar */
.menu-bar {
    -fx-background-color: derive(master-color,40%);
    -fx-selection-bar: derive(-fx-background,-7%);
}

.menu-bar .label {
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu-button {
    -fx-text-fill: derive(master-color, -20%);
    -fx-font-size: 14px;
}

/* Menus */
.menu .label {
    -fx-text-fill: derive(master-color, -20%);
    -fx-font-size: 14px;
}

/*Menu Items*/
.menu-item .label {
    -fx-text-fill: derive(master-color, -20%);
    -fx-font-size: 14px;
}

.button {
    -fx-background-color:
        linear-gradient(
        derive(master-color, 120%),
        derive(master-color, 90%)
        ),
        radial-gradient(
        center 50% -40%,
        radius 180%,
        derive(master-color, 95%) 55%,
        derive(master-color, 75%) 55%
        );
    -fx-background-radius: 4, 3;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.55) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: derive(master-color, -60%);
    -fx-padding: 3 11 3 11;
}

.text-area, .text-field {
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}

.text-area {
    -fx-padding: 2;
}

.text-field {
    -fx-padding: 3 6 3 6;
}

.label {
    -fx-text-fill: derive(master-color, -20%);
    -fx-font-size: 12px;
}

.label-header {
    -fx-text-fill: derive(master-color, -20%);
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.label-copyright {
    -fx-text-fill: derive(master-color, -20%);
    -fx-font-size: 12px;
    -fx-font-style: italic;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}
.tooltip {
    -fx-background-color: linear-gradient(#e2ecfe, #99bcfd);
}
.page-corner {
    -fx-background-color: linear-gradient(from 0% 0% to 50% 50%,#3278fa,#99bcfd);
}